/* font settings */

// font-family
$font-family_play: "Play";

// font-size
$font-size_default: 16px;
$font-size_medium: 20px;
$font-size_giant: 30px;

// font-weight
$font-weigth_regular: 400;
$font-weigth_bold: 700;

// font color
$font-color_black: #000;

/* icon settings */

// size
$icon-size_default: 24px;

/* colors */
$color-default: #d2d2d2;
$color-active-default: #7a7a7a;
$color-hover-default: #dddddd;

/* sizes */
$height-default: 40px;

/* window sizes */
$width-desktop: 1200px;
$width-tablet: 786px;
$width-mobile: 320px;

/* transition times */
$transition-default: 0.15s;
