/* font settings */

// font-family
$font-family_play: "Play";

// font-size
$font-size_default: 16px;
$font-size_giant: 30px;

// font-weight
$font-weigth_regular: 400;
$font-weigth_bold: 700;

// color
$font-color_default: #000;

/* icon settings */

// size
$icon-size_default: 25px;
